{% extends 'main.html' %}

{% block content %}

<div class="login-box">
    <form class="form" action="" method="POST">
    {% csrf_token %}
      <!-- <label for="room_name">Email:</label>
      <input id="username" name="email" type="text" placeholder="e.g. name@gmail.com" /> -->
     
       <label for="room_name">Email:</label>
      <input id="username" name="username" type="text" placeholder="Enter username" />

      <label for="password">Password:</label>
      <input id="password" name="password" type="password" placeholder="Enter password"/>

      <!-- <button class="btn btn--main" type="submit" value="Login"></button> -->
      <input type="submit" value="Login"/>
    </form>
</div>

<style>
  .login-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

{% endblock content%}